:root {
  --primary: #E63946;
  --dark: #2d3142;
  --light: #ffffff;
  --gray: #bfc0c0;
  --success: #4caf50;
  --error: #e63946;
  --crema: #FFF8F0;
  --naranja: #E13F12
}

/* ====== ESTILO GENERAL ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Inter", "Roboto", system-ui, -apple-system, "Segoe UI", Arial; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
  font-size: 16px;
}

body {
  background-color: var(--crema);
  color: #333;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
}
.header{
    width: 100%;
    height: 50px;
    z-index: 100;
    position: fixed;
    background-color: var(--naranja);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header label{
    color: var(--light);
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.header span{
    position: absolute;
    left: 15px;
    color: var(--light);
}
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 70px;

    flex: 1;
}
.container {
  padding: 20px;
  padding-top: 30px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 50px;
}

.numero-pedido{
    color: var(--naranja);
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.order-tracking {
  position: relative;
  border-left: 3px solid var(--naranja);
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.step {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.estado{
    display: flex;
    flex-direction: column;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--naranja);
  color: white;
  text-align: center;
  line-height: 35px;
  top: 0;
  font-weight: bold;
}

.title {
  font-weight: 600;
}

.desc {
  font-size: 14px;
  color: #666;
}

.map-section {
  margin-top: 50px;
}

.map-section h2 {
  margin-bottom: 20px;
  color: var(--naranja);
  font-size: 1.2rem;
}

#map {
  width: 100%;
  height: 300px;
  background-color: #dee2e6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6c757d;
  font-weight: 500;
  box-shadow: 0 1px 10px 0px rgb(0 0 0 / 10%);
}
