/* ====== PALETA ====== */
:root {
  --primary: #E63946;
  --dark: #2d3142;
  --light: #ffffff;
  --gray: #bfc0c0;
  --success: #4caf50;
  --error: #e63946;
  --crema: #FFF8F0;
  --naranja: #E13F12
}

/* ====== ESTILO GENERAL ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Inter", "Roboto", system-ui, -apple-system, "Segoe UI", Arial; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
  font-size: 16px;
}

/* body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    position: relative;
    height: 100dvh;
    background-color: var(--crema);
}

/* MAIN */
/* .main{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
} */ 
.main-section__menu{
    width: 100%;
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
}
.main-section__menu h3{
    color: var(--naranja);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.3rem;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.main-section__menu h2{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: var(--dark);
    font-size: 1.2rem;
    padding-bottom: 20px;
}
.menu__container,.menu-segundo__container,.menu-bebidas__container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-flow: dense;
    grid-auto-rows: 1fr;
    gap: 20px;
}
.plato{
    border-radius: 5px;
    box-shadow: 0 1px 2px 0px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
}

.image-plato__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    overflow: hidden;
    height: 120px;
}
.image-plato__container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.info-plato__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 7px;
    padding: 15px;
    padding-top: 5px;
}
.info-plato__container .nombre-plato{
    font-size: 0.8rem;
    color: var(--dark);
    text-align: start;
}
.precio-plato{
    font-size: 0.8rem;
    font-weight: bolder;
}
.title-segundos,.title-bebidas{
    margin-top: 50px;
}
.button-plato{
    background-color: var(--naranja);
    margin: 10px;
    margin-top: -10px;
    border: none;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: var(--light);
}
.button-plato span{
    transform: scale(0.8);
}