
.main-section__perfil{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 50px;
    flex: 1;
    height: 100%;
}
.image-perfil__container{
    width: 120px;
    height: 120px;
    margin-top: 15px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 1px 2px 0px rgb(0 0 0 / 10%);
}

.image-perfil__container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.nombre-perfil__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nombre-perfil__container label{
    max-width: 150px;
    text-align: center;
    font-size: 0.95rem;
    text-transform: uppercase;
    line-height: 24px;
    font-weight: 400;
    color: var(--dark);
}
.datos__container{
    background-color: var(--light);
    width: 100%;
    box-shadow: 0 1px 2px 0px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
    align-items: center;
    flex: 1;
    padding-bottom: 80px;
}
.data__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--dark);
}
.data__container label{
    font-size: 0.8rem;
}
.data__container input{
    font-size: 0.8rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dedede;
}

.linea-divisora{
    width: 100%;
    margin-top: 10px;
    height: 1px ;
    background-color: #dedede;
}
.buttons-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.buttons-container button{
    background-color: var(--naranja);
    color: var(--light);
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 1px 2px 0px rgb(0 0 0 / 10%);
    font-size: 0.8rem;
}