/* ====== PALETA ====== */
:root {
  --dark: #2d3142;
  --light: #ffffff;
  --crema: #FFF8F0;
  --naranja: #E13F12
}

/* ====== ESTILO GENERAL ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Inter", "Roboto", system-ui, -apple-system, "Segoe UI", Arial; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
  font-size: 16px;
}


body{
    background-color: var(--crema);
    display: flex;
    width: 100%;
    height: 100dvh;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.register-container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(45,49,66,0.08);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -15px;
}
.image-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.image-container img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-width: 400px;
}
.header label{
    color: var(--dark);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 20px;
    font-size: 0.8rem;
}

.form-register{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 10px;
}
.form-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.form-input label{
    color: var(--dark);
    font-size: 0.75rem;
}
.form-input input{
    padding: 7px;
    border: 1px solid #dedede;
    border-radius: 5px;
    font-size: 0.8rem;
}
.form-checkbox{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.form-checkbox input{
    transform: scale(1.2);
    accent-color: var(--naranja);
}
.form-checkbox label{
    color: var(--dark);
    font-size: 0.8rem;
    margin-bottom: 2px;
}
.form-checkbox span{
    color: var(--naranja);
    font-size: 0.8rem;
    text-decoration: underline;
}

.form-register button{
    margin-top: 15px;
    padding: 7px;
    background-color: var(--naranja);
    color: var(--light);
    border: none;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 12px 30px rgba(225,63,18,0.2);
}
.iniciar-sesion__container{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.iniciar-sesion__container label{
    font-size: 0.8rem;
    color: var(--dark);
}
.iniciar-sesion__container span{
    font-size: 0.8rem;
    color: var(--naranja);
}